/* tasks */
.wrapper {
  height: calc(100% - 57px);
  padding-left: 17px;
  padding-right: 17px;
  max-width: 760px;
  margin: 0 auto;
}

.message-wrapper {
  display: inline-flex;
  text-decoration: none;
}

kendo-avatar {
  margin-right: 20px;
}

.message {
  color: #656565;
  display: block;
  text-align: justify;
  padding-right: 10px;
}

h6 {
  font-weight: 500;
  color: black;
  margin-bottom: 25px;
}