<div class="wrapper">
  <div style="padding-top: 30px" (click)="goBack()">
    <kendo-icon [name]="'arrow-chevron-left'" [size]="'medium'"></kendo-icon>
    <span>Go Back</span>
  </div>
  
  <h4 style="padding: 10px 0px 20px 0px">Task Details</h4>

  <div *ngIf="task" class="task-detail-points">
    <h2 class="task-detail-heading">{{ task.title }}</h2>
    <div class="task-detail-detail"><span></span>{{ task.details }}</div>
    <div class="task-detail-company"><span>Company: </span>{{ task.company }}</div>
    <div class="task-detail-purpose"><span>Purpose: </span>{{ task.purpose }}</div>
    <div class="task-detail-points"><span>Karma: </span>{{ task.points }}</div>
  </div>
  
  <div class="task-detail-button-container">
    <button kendoButton [primary]="true" (click)="onAcceptTask()">Accept</button>
    <button kendoButton (click)="onSkipTask()">Skip</button>
  </div>
</div>