/* You can add global styles to this file, and also import other style files */

$primary: #2962ff;
$primary-lighter: #768fff;
$primary-darker: #0039cb;

@import "~@progress/kendo-theme-material/dist/all.scss";
@import "~@progress/kendo-theme-material/scss/button";