<div class="wrapper">
  <h4>My Profile</h4>
  <div class="avatar">
      <kendo-avatar [border]="true" shape="circle" [imageSrc]="kendokaAvatar" width="128px" height="128px"></kendo-avatar>
      <span class="email">rohitb1vs10</span>
  </div>
  <hr style="margin:30px 0">
  <div class="profile-calendars">
      <h6 style="margin-bottom:20px">Profile Options</h6>
      <div class="entry" *ngFor="let entry of entries">
          <div style="display: flex">
              <kendo-icon [name]="entry.icon" [themeColor]="'primary'" style="padding-right:10px;"></kendo-icon>
              <span class="entry-title">{{entry.title}}</span>
          </div>
      </div>
  </div>
</div>