<div class="wrapper">
  <h4>Your Groups 👋</h4>
  <div *ngFor="let group of groups">
    <hr style="margin:30px 0">
    <div class="message-wrapper">
      <kendo-avatar shape="circle" initials="{{ group.initials }}"></kendo-avatar>
      <div>
        <span class="message">{{ group.name }}</span>
        <span class="message" style="font-style: oblique; font-size: small;">{{ group.details }}</span>
      </div>
      <span style="margin-left: auto;">[ {{ group.messages }} ]</span>
    </div>
  </div>
</div>