<div class="wrapper">
  <h4>Groups</h4>
  <div class="title">11/5 Monday</div>
  <div class="calendar-entry">
      <span class="hour">16:00</span>
      <div class="separator" style="border-color:#FF6358"></div>
      <span class="text">Job interview for internal position</span>
  </div>
  <div class="calendar-entry">
      <span class="hour">21:00</span>
      <div class="separator" style="border-color:#28B4C8"></div>
      <span class="text">Martha Birthday</span>
  </div>
  <div class="title">Tomorrow</div>
  <div class="events">No upcoming events</div>
</div>